# Virtual environments
venv/
.venv/
env/

# Data and Images
/datasets/
*.zip
*.tar.gz

# Checkpoint and Results
outputs/*
!outputs/runs/
!outputs/runs/**/

*.pt
*.pth
*.onnx

*.png
*.jpg
*.jpeg

!outputs/runs/**/curves.png
!outputs/runs/**/qualitative_overview_multilabel.png

#damage3d
damage3d/damage3d_runs
damage3d_runs/
damage3d_maps/

# Cache Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/