# Virtual environments
venv/
.venv/
env/

# Data and Images
/datasets/
*.zip
*.tar.gz

# Checkpoint and Results
outputs/*
!outputs/runs/
!outputs/runs/**/

*.pt
*.pth
*.onnx

*.png
*.jpg
*.jpeg

!outputs/runs/**/curves.png

# Cache Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/